*
!README*
!early-init.d/
!early-init.d/*.el
!early-init.el
!eshell/
!eshell/alias
!init.d/
!init.d/*.el
!init.el
!site-lisp/
!site-lisp/*.el
!snippets/
!snippets/emacs-lisp-mode/
!snippets/emacs-lisp-mode/*
!snippets/powershell-mode/
!snippets/powershell-mode/*
!use.d/
!use.d/*.el
!use.el
