*
!README$
!README.org
!README.md
!early-init.el
!eshell/
!eshell/alias
!init.el
!scratch/
!scratch/*.el
!snippets/
!snippets/emacs-lisp-mode/
!snippets/emacs-lisp-mode/*
!snippets/powershell-mode/
!snippets/powershell-mode/*
