*
!README*
!early-init.el
!eshell/
!eshell/alias
!init.el
!scratch/
!scratch/*
!site-lisp/
!site-lisp/*.el
!snippets/
!snippets/emacs-lisp-mode/
!snippets/emacs-lisp-mode/*
!snippets/powershell-mode/
!snippets/powershell-mode/*
!use.el
